
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
body a:hover{
    color: black;
}
.container{
    height: 100vh;
    width: 100%;
}
.main{
    width: 80%;
    margin: 0 auto;
    /* background-color: gray; */
    height: 100vh;
}
#logo-div{
    float: left;
}
#logo-text{
    /* margin-top: -10px; */
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 50px;
    color: #03BFFB;
}
.nav-div{
    float: right;
    
    word-spacing: 10px;
    font-size: 20px;
    padding-right: 10px;
    
}
.nav-div .icon {
    display: none;
  }
header{
    overflow: hidden;
}
.nav-div a.active {
    background-color:#03BFFB;
    color: white;
  }
.nav-div a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #03BFFB;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}
.content-fields{
    float: left;

}
.content-fields h2{
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 45px;
    color: #03BFFB;
    font-weight: normal;
}
.content-fields p{
    margin-top: -30px;
    font-size: 30px;
}
.content-fields a{
    color: red;
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
#form input{
    padding: 10px 10px;
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    margin-bottom: 10px;
}
#submit{
    background:#03BFFB;
    color: #fff;
    height: 47px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    border: none !important;
    width: 230px !important;
    }
.image-div{
    margin-top: 10px;
    float: right;
}
.image-div img{
    height: 450px;
    border-radius: 46px;
}
footer{
    width: 100%;
    text-align: center;
    position: relative;
    top: 15vh;
}
.clear{
    clear: both;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
    #logo-div{
        float: left;
        margin-top: 20px;
        overflow: hidden;
    }
    .nav-div.responsive {position: relative; padding-top: 20px;}
    .nav-div.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-div a.icon {
        float: right;
        display: block;
      }
    .nav-div.responsive a {
      float: none;
      display: block;
      padding-top: 20px;
      text-align: left;
    }
    .nav-div a{display: none;}



    .content-fields h2{
        font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 25px;
    color: #03BFFB;
    font-weight: bold;
    }
    .content-fields p{
        margin-top: -20px;
        font-size: 25px;
    }
    .image-div{
        float: none;
        position: relative;
        left: 25%;
    }
    .image-div img{
        height: 30vh;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    #logo-div{
        float: left;
        margin-top: 20px;
        overflow: hidden;
    }
    .nav-div.responsive {position: relative; padding-top: 20px;}
    .nav-div.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-div a.icon {
        float: right;
        display: block;
      }
    .nav-div.responsive a {
      float: none;
      display: block;
      padding-top: 20px;
      text-align: left;
    }
    .nav-div a{display: none;}



    .content-fields h2{
        font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 25px;
    color: #03BFFB;
    font-weight: bold;
    }
    .content-fields p{
        margin-top: -20px;
        font-size: 25px;
    }
    .image-div{
        float: none;
        position: relative;        left: 25%;
    }
    .image-div img{
        height: 50vh;
    }  }
  @media only screen and (min-width:961px) and (max-width: 1240px){
    .content-fields h2{
        font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 30px;
    color: #03BFFB;
    }
    .content-fields p{
        margin-top: -20px;
        font-size: 25px;
    }
    .image-div{
        float: right;
    }

    .image-div img{
        height: 50vh;
    }
  }
 

    



    
    
     
